/**
 * @author David 'dubak' Dubovsky
 * @link http://www.dubak.sk/tools/online-captcha-pictures-generator
 * @project https://bitbucket.org/dubak/captcha/
 */

@import "vars.less";

.captcha {

	font-family:"Myriad Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-weight:300;
	background-color:#f5f5f5;

	.clear:after {
		clear: both;
	}
	
	.tiny-clear {
		display: block;
		width: 100%;
		clear: both;
	}
	
	a { 
		text-decoration: none; 
		border-bottom: 1px dotted ;
		
		&:hover { 
			text-decoration: none; 
			border-bottom: 1px dotted; 
		}
	}
		
	.container-lg {
		text-align: center;
	}
	
	&-grid {
		display: inline-block;
		
		.grid-holder {
			margin-top: 80px;
			padding: 20px 0px 20px 0px;
			background-color: @color-white-main;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
						
			.captcha-form {
				max-width: 330px;
				padding: 15px;
				margin: 0 auto;

				.captcha-letters {
					text-align: left;
					
					.control-label {
						font-size: 0.8em;
					}						
				}
				
				.captcha-embed {
					iframe {
						display: inline-block;
					}
					
					i[data-id="reload"] {
						display: inline-block;
						line-height: 50px;
						vertical-align: top;
						top: 0;
						margin-left: 10px;
						margin-right: 10px;
						font-size: 1.5em;
						
						&:hover {
							cursor: pointer;
							.rotate(90deg);
						}
					}
				}
				
				.form-control {
					position: relative;
					font-size: 16px;
					height: auto;
					padding: 10px;
					font-weight: normal;
					color: @color-grey-main;
					.box-sizing(border-box);

					&:focus {
						z-index: 2;
					}
				}
								
				input[type="text"], 
				input[type="password"] {
					margin-bottom: 0px;
				}

				.checkbox label {
					font-size: 0.9em;
				}	

				.alert .help-inline {
					display: inline;
				}		
			}				
		}
	}			
	
}