
@import "mixins.less";

/** thresholds **/
@xxl-size-from: 1920px;
@xl-size-from: 1200px;
@lg-size-from: 1024px;
@md-size-from: 768px;
@sm-size-from: 480px;
@xs-size-from: 320px;

@lg-tablet-size-from: 960px;
@md-tablet-size-from: 640px;
@sm-tablet-size-from: 600px;


/** colors **/
@color-white-main: #FFF;
@color-green-main: #5CB85C;
@color-green-hover: #C5DDD7;
@color-black-main: #141414;
@color-grey-main: #ADADAD;


/** borders **/
@border-bottom-basic: 1px;


/** sizes **/
@size-text-basic: 14px;

